body 
{
	background-color: #0080b6;
	padding: 0px;
	margin: 0px;
	text-align: center;
	min-width: 1100px;
}


header 
{
	background: url("images/topText.png")  center center no-repeat, #0080b6;
	height: 35px;
	padding-top: 5px;
	box-shadow: 0px 0px 10px black;
	border-bottom: 1px solid white;
	color: white;
	font-size: 20px;
}


footer 
{
	background-color: #0080B6;
	border-top: 5px solid white;
}


.banner 
{
	background: url("images/banner.jpg") top center no-repeat, #f3d99d;
}


.navButton 
{
	margin-left: 25px;
	margin-right: 40px;
	float: left;
}


.content 
{
	background: url("images/bodyBG.png");
	min-height: 300px;
	margin-top: -330px;
	padding-top: 300px;
}


.gameInfo 
{
	float: left;
	margin-top: -20px;
	margin-left: 40px;
	margin-right: 40px;
	overflow: auto;s
}

	
.footerContent 
{
	background: url('images/aliens.png') top center no-repeat;
	width: 900px;
	height: 5px;
	margin-top: -61px;
	margin-left: auto;
	margin-right: auto;
	padding: 100px;
	color: white;
}
	

#navBar 
{
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}
	

#logo 
{
	margin-right: 470px;
	float: left;
}


#gameCanvas 
{
	margin: 50px;
	margin-top: 150px;
	border: 10px solid white;
	background: black;
	box-shadow: 0px 0px 30px black;
}


#tabContent 
{
	background: white;
	width: 800px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	box-shadow: 0px 0px 30px black;
	text-align: left;
}
	

.ui-widget-header 
{
background: transparent;
border: none;
position: absolute;
top: -45px;
color: white;
}


.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited 
{
color: white;
background: #0080b6;
}


.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited 
{
color: white;
background: #00a0b0;
}