@charset "UTF-8";
/* CSS Document */

body{
	margin: 0px;
	padding: 0px;
	background-color: #776A43;
}
		
.topArea{
	background-color: white;
	background-image: url(images/stripes2.png);
	background-repeat: repeat-x;	
}
		
.mainContent{
	width:960px;
	margin:0px auto;
	text-align: center;
	height:600px;
}
		
.treeTops{
	height: 250px;
	background-image:url(images/trees.png);
	background-repeat:repeat-x;
	background-position:bottom;
}
		
header{
	padding: 20px;
	text-align:center;
}
		
video{
	border: 15px solid white;
	background-color: black;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #888;	
}
		
.videoControls{
	width: 830px;
	height: 60px;
	margin: 0px auto;	
	background-color: black;
	line-height:60px;
}

.videoControls > *{
	vertical-align:middle;
	margin: 0px, 10px;	
}

#playPosition{
	width:400px;
}

#volumePosition{
	width:100px;
}