body { background-color: #000040;
       background-image: url(background.gif);
       color: #88ffff;
       font-family: Verdana, Arial, sans-serif;
}
#container { margin-left: auto;    
       margin-right: auto;
       width:80%;
       min-width:700px;
      }


#logo {
	text-align:center;
	margin: 0;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	padding-top: 30px;
	padding-bottom: 20px;

}
#nav {
	float: left;
	width: 200px;
	padding-top: 10px;
	text-align:left;
	color: #88FFFF;
	font-size: 12px;
}
#nav a {text-decoration:none;
                  margin: 15px;
                  display: block;
				  color: #88FFFF;
				  font-size: 12px;
}
#content {
	margin-left: 150px;
	padding: 30px;
	overflow:auto;
	border: medium groove #88FFFF;
	line-height: 135%;
	
}

.floatright {padding-left:20px;
             float:right;
			 }
.floatleft {
	float:left;
	padding: 30px 0px 20px;
}
#footer { font-size: .60em;
        font-style: italic;
        text-align: center;
        border-top: 2px double #000040;
        padding-top: 20px;
        padding-bottom: 20px;
}

h1 { background-color: #FFFF00;
     color: #000000; 
     }

h2 { text-transform: uppercase;
     color: #88ffff;
     font-size: 1.2em;
     border-bottom: 1px none;
     margin-right: 20px;
}
h3 {
	color: #88ffff;
	font-size: 1em;
	border-bottom: 1px solid #000000;
	margin-right: auto;
	text-align: left;
	padding-top: 20px;
	padding-right: 150px;
	padding-bottom: 20px;
	padding-left: 150px;
	line-height: 130%;
}
.details { padding-left:20%;
           padding-right:20%; 
}


img {border:0; }

           
.content {
	margin: 20px;
	padding: 20px;
	height: 3700px;
	width: 500px;
}
a {text-decoration:none;
                  margin: 15px;
                  display: block;
				  color: #88FFFF;
				  font-size: 12px;
}
a:hover {
	color:  #000040;
	background-color: #88ffff;
}
span {
	font-size: 36px;
	font-weight: bold;
	font-family: "Courier New", Courier, mono;
	color: #88ffff;
	background-position: center center;
	text-align: center;
	vertical-align: middle;
}
table { 
	border-collapse: collapse 
}
td {
	border: 2px solid #88ffff;
	width: 5em;
	font-family: "Courier New", Courier, mono;
	font-size: 14px;
	 color: #88ffff;
}

.myH1 { background-color: #FF0000;
     color: #FFFFFF; 
     }

     
#myIdH1 { background-color: #008000;
     color: #F8F8FF; 
     }
