-- Lab 4, Exercise 1 --

<script language="javascript" type"text/javascript">
	var Answer=prompt("What is your first name?");
	alert("Welcome to Javascript "+Answer);
	document.write("<h3>"+Answer+" is a CST8209 student</h3>");
</script>



-- Lab 4, Exercise 2 --

<script language="javascript" type"text/javascript">
	var Answer=prompt("What is your first name?");
	alert("Welcome to Javascript "+Answer);
	document.write("<h3>"+Answer+" is a CST8209 student</h3>");
</script>



-- Lab 4, Exercise 3 --

<script language="javascript" type"text/javascript">
	var answer=prompt("Please enter a number");
	alert(parseInt(Answer));
</script>



-- Lab 4, Exercise 4 --

<script language="javascript" type"text/javascript">
	var answer=prompt("Please enter a number");
	alert(parseFloat(Answer));
</script>


-- Lab 4, Exercise 5 --

<script language="javascript" type"text/javascript">
	//Single line comment in Javascript
	var Answer=prompt("Please enter a number");
	
	/*Multiple
	  Line
	  Comment
	  In Javascript
	*/
	if (isNaN(parseFloat(Answer)))
		alert("You did not enter a number");
	else 
		alert(Answer + " is a good choice");
</script>


-- Lab 4, Exercise 6 --

<script language="javascript" type"text/javascript">
	var elem = document.getElementById("title");
	alert(elem.innerHTML);
	elem.innerHTML="Go Sens Go";
</script>