/*  MILA  */

table {
   border-spacing: 0px;
   border-collapse: collapse;
}

th,
td {
   text-align: center;
   border: 1px solid #000000;
   padding: 10px;
}


/*  NICK  */

td {
   text-align: center;
   border: 1px solid black;
}

thead {
   font-weight: bold;
}


/*  DYLAN  */

td {
   border: 1px solid black;
   text-align: center;
}